$red: #e91b1b;
$blue: #002D62;
$gray: #565656;
$green: #36c95f;
$white: #ffffff;
$black: #000000;
$orange: #FF6D4C;

$background: #f6fbf8;
$grayActive: #DAE2F3;
$BlackActive: #3d3d3d;
$footerBackground: #d8d8d8;
$navBackground: linear-gradient(90deg, #115CA3 0%, #80B4E3 46.16%, #224E76 100%);
$footerBackground:linear-gradient(91.98deg, #0A3F65 3.69%, #0C4873 45.18%, #132634 80.35%);
